.viewCart {
  padding-top: 15%;
  padding-bottom: 10%;
  background-color: white;
}

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  font-size: 30px;
  margin: auto;
  text-decoration: underline;
}

.formLink {
  width: 75%;
}
.emptyCartBtn {
  margin-top: 2em;
  background-color: #fff0f3;
  padding: 0.25em 3em;
  border-radius: 2em;
  font-size: 2em;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
}

.cartSummaryDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3em 5em;
}
.cartSummaryRow {
  width: 30em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}
.cartSummaryH1 {
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
