.header {
  background-color: rgb(255, 255, 254);
  border-bottom: 5px solid #9d8189;
  padding: 15px 15px 10px 15px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 6em;
}
/* .icons {
  text-align: left;
} */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navlinks {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.liNav {
  color: black;
  padding: 0 15px;
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

#iconsHeader {
  padding: 0 15px;
  flex-direction: row;
}
.large {
  color: black;
}

li:hoover {
  size: 100px;
}
