.viewAllProducts {
  margin-top: 15%;
  padding: 10px 25px;
  padding-bottom: 20px;
}

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  font-size: 30px;
  margin: auto;
}

.itemsRow {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}
