.viewAllProducts,
.headBandsOnly,
.bachelorettePage {
  margin-top: 15%;
  padding: 10px 25px;
  padding-bottom: 20px;
}

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  font-size: 30px;
  margin: auto;
}

.itemsRow {
  /* width: 85%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  grid-auto-rows: 60px;
  grid-gap: 15px;
  /* display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto; */
}
