.viewAllProducts,
.headBandsOnly,
.bachelorettePage {
  margin: 12% 10% 5% 10%;
}

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  font-size: 30px;
  margin: auto;
}

.itemsRow {
  display: grid;
}
